/* Google Fonts setup */
body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin:0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
p, ul{
  margin: 0;
}

/* Colors */
:root {
  --main-color: #ff6f61;   /* coral red */
  --secondary-color: #ffd166; /* yellow */
  --dark-color: #333;
  --light-color: #f8f9fa;
  --navbar-bg:#d0cbcb;
}
.main-color{
  color: var(--main-color);
}
.secondary-color{
  color:var(--secondary-color);
}
.dark-color{
  color:var(--dark-color);
}
.light-color{
  color:var(--light-color);
}
.bg-main-color{
  background-color: var(--main-color);
}
.bg-secondary-color{
  background-color: var(--secondary-color);
}
.bg-dark-color{
  background-color: var(--dark-color);
}
.bg-light-color{
  background-color: var(--light-color);
}

/* Buttons */
.shop-now-btn{
  background-color: var(--main-color);
  padding: 10px 20px;
  border-radius: 10px;
  color:var(--light-color);
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline;
  border:none;
}
.shop-now-btn:hover{
  background-color: var(--dark-color);
  transition: all 0.3s ease;
  text-decoration: none;
}

/* Sections padding */
.section-padding{
  padding:100px 0px;
}
.section-padding-bottom{
  padding-bottom:100px;
}

/* Section Titles */
.section-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--dark-color);
  margin-bottom: 10px;
  text-align: center;
}


/* 

Custom style for swiper slider pagination 

*/

.swiper-pagination-bullet {
  background: black;
  opacity: 1;
  width: 5px;
  height: 5px;
  position: relative;
  transition: all var(--duration-default, 0.3s) linear;
  display: inline-block;
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  border-radius: 2px; 
}

/* Active bullet */
.swiper-pagination-bullet-active {
  width: 30px;   
  height: 5px;   
  border-radius: 2px;
}
/* Button back to top button */

#btnBackToTop {
  padding:0;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 10px;
  width:72px;
  height:72px;
  line-height: 50px;
  z-index: 3;
  background-color: var(--main-color);
  color:var(--light-color);
  overflow: hidden;
  transition: all 1s ease;
  border:0;
}
#btnBackToTop .scroll-text{
  position: absolute;
  left: 11%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 12%;
  animation: rotateText 5s linear infinite;
}
/* Rotation keyframes */
@keyframes rotateText {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#btnBackToTop:hover {
  transform: scale(1.1);
  transition: all 1s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
#btnBackToTop:hover .scroll-text {
  animation-play-state: paused;
}

#btnBackToTop .arrow{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  opacity: 1;
}
.show{
  opacity: 1;
}
.hide{
  opacity: 0;
}

