/* Extra small devices (portrait phones) */
@media (max-width: 575px) {
  /* Custom */
  .section-title {
    font-size: 1.5rem;
  }
  /* Sections (All pages) */
  .section-padding{
    padding:50px 0px!important;
  }
  .section-padding-bottom{
    padding-bottom:50px;
  }
  /* Styles for xs */
  .page-banner .banner-content{
    position: relative;
    height: 100%;
    padding: 10px 0px;
  }

  /* Google map of contact page */
  .map-wrap { aspect-ratio: 4/3; }
     
   /* Home page Hero banner */
 .hero-section .banner-right{
    padding-top:0px;
    padding-bottom: 0px;
  }
  
  .image-swiper img{
    width:75%;
  }
  /* Home page Top picks / Special Offer */
  #top-picks .banner::after{
    background-position: center;
  }
  #top-picks .banner{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 30px 20px;
  }
  #countdown p {
    font-size: 30px;
  }
  /* Home page Unique apeal */
  #unique-appeal h4{
    font-size:18px;
  }
  /* Home page Cards */
  #cards .grid-banner-content{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 30px;
  }
  #cards .grid-banner-inner {
    max-width: 100%; 
  }
  #cards .grid-banner-content .main-title {
  font-size: 20px;
  }

  /* Single product page */
  #singleProduct .single-product-img{
    height:100%;
  }
  
}

/* Small devices (landscape phones, ≥576px) */
@media (min-width: 576px) and (max-width: 767px) {
  .container{
    max-width: 700px!important;
  }
  /* Sections (All pages) */
  .section-padding{
    padding:50px 0px!important;
  }
  .section-padding-bottom{
    padding-bottom:50px!important;
  }
  .page-banner .banner-content{
    position: relative;
    height: 100%;
    padding: 10px 0px;
  }

  /* Home page Hero section */
 .hero-section .banner-right{
    padding-top:0px;
    padding-bottom: 0px;
  }
  .image-swiper img{
    width:70%;
  }
  /* Home page Top picks / Special Offer */
  #top-picks .banner::after{
    background-position: center;
  }
  #top-picks .banner{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px 20px;
  }
  #countdown p {
    font-size: 35px;
  }
  /* Home page Cards */
  #cards .grid-banner-content{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
  }
  #cards .grid-banner-inner {
    max-width: 100%; 
  }
  #cards .grid-banner-content .main-title {
  font-size: 20px;
  }

  /* Single product page */
  #singleProduct .single-product-img{
    height:100%;
    margin-bottom: 50px;
  }
    
}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) and (max-width: 991px) {
  /* Universal (All pages) */
  .container{
    max-width: 850px!important;
  }
  /* Contact page banner */
  .page-banner .banner-content{
    position: relative;
    height: 100%;
    padding: 60px 0px;
  }
  /* Home page Top picks / Special Offer */
  #top-picks .banner::after{
    background-position: center;
  }
  #top-picks .banner{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px 20px;
  }
  #countdown p {
    font-size: 40px;
  }
  /* Home page Cards */
  #cards .grid-banner-content{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
  }
  #cards .grid-banner-inner {
    max-width: 100%; 
  }
  /* Single product page */
  #singleProduct .single-product-img{
    height:100%;
    margin-bottom: 50px;
  }
  /* Single Product page Image slider navigation */
  .productThumbs .swiper-button-next,
  .productThumbs .swiper-button-prev {
    opacity: 1;
  }
}

/* Large devices (desktops, ≥992px) */
@media (min-width: 992px) and (max-width: 1199px) {
  #cards .grid-banner-inner {
      max-width: 100%;
  }
  #cards .grid-banner-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 30px;
  }
  /* Single Product page Image slider navigation */
  .productThumbs .swiper-button-next,
  .productThumbs .swiper-button-prev {
    opacity: 0;
  }
}

/* Desktop hover for large screens */
@media (min-width: 1199px) and (max-width:1440px) {
  /* Mega menu for desktop */
.dropdown-menu{
  display: block!important;
}
.navbar .nav-item.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease;
  border-radius: 10px;
}

.navbar .nav-item.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;   /* right below navbar */
  left: 5%;
  width: 90%;
  margin: 0 auto;
  border-radius: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
/* Single Product page Image slider navigation */
  .productThumbs .swiper-button-next,
  .productThumbs .swiper-button-prev {
    opacity: 0;
  }
}



