/* 

====== initial styles =====

/* navbar */
.hamburger{
  background-color: transparent;
  border:none;
  color:var(--dark-color);
  transition: transform 0.3s ease;
}
.hamburger:hover{
  color: var(--main-color);
  transition: transform 0.3s ease;
}

/* Navbar */
/* Top Header */
.top-header {
  background-color: var(--light-color);
  font-size: 0.9rem;
  color: var(--dark-color);
}
.top-header a {
  color: var(--dark-color);
  transition: color 0.3s ease;
}
.top-header a:hover {
  color: var(--main-color);
}

/* Bottom Header */
.navbar .right-icons .icon-link{
  color:var(--dark-color);
  transition: all 0.3s ease;
}
.navbar .right-icons .icon-link:hover{
  color:var(--main-color);
  transition: all 0.3s ease;
}
.navbar .nav-link {
  font-weight: 400;
  margin: 0 0.5rem;
  color: var(--dark-color);
  transition: all 0.3s ease;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: var(--main-color);
}
.navbar{
  padding:0px;
  background-color: var(--navbar-bg);
}
.navbar .nav-item{
  padding:25px 0px;
}
.dropdown-menu{
  padding: 40px;
}
.navbar .dropdown-menu ul li{
  margin-bottom: 10px;
}
.desktop-nav .dropdown-item{
  color:var(--dark-color);
  transition: all 0.3s ease;
}
.desktop-nav .dropdown-item:hover{
  color:var(--main-color);
  transition: all 0.3s ease;
}
/* Offcanvas for mobile */
.offcanvas-body .nav-link{
  color:var(--dark-color);
  transition: all 0.3s ease;
}
.offcanvas-body .nav-link:hover{
  color:var(--main-color);
  transition: all 0.3s ease;
}

.mobile-bottom-navbar{
  z-index: 999;
  position: sticky;
}

 /* Home page Hero Section */
.hero-section {
  min-height: 80vh;
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  position: relative;
  z-index: 1;
}

 .hero-section .banner-right{
  padding-top:20px;
  padding-bottom: 120px;
 }

/* Home page Categories */
#category .swiper-slide{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
#category .slide-item {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  padding:10px;
  text-align: center;
  margin-bottom: 20px;
}

#category .slide-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.5s ease;
}

#category .slide-item:hover img {
  transform: scale(1.05);
}

#category .slide-item::before {
  content: "";
  position: absolute;
  inset: 0; 
  border: 1px dashed #000;
  border-radius: 50%;
  pointer-events: none; 
  transition: transform 0.3s linear;
}

#category .slide-item:hover::before {
  border: 1px dashed var(--main-color);
  animation: rotateBorder 1s linear infinite;
}

@keyframes rotateBorder {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#card-swiper .card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

/* 

  Home page Cards

*/

#cards .grid-banner-block-image {
  position: relative; 
  overflow: hidden;
  border-radius: 16px;
}

#cards .grid-banner-block-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px; 
  border-radius: 10px;
}

#cards .grid-banner-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end; 
  padding: 45px;
}

#cards .grid-banner-inner {
  max-width: 80%; 
}

#cards .grid-banner-content h3.main-title {
  font-size: 25px;
  margin-bottom: 8px;
  line-height: 1.5;
}

#cards .grid-banner-content p.description {
  margin-bottom: 20px!important;
}
#cards .swiper-pagination-bullet {
  background: black;
  opacity: 1;
  width: 8px;
  height: 5px;
  position: relative;
  transition: all var(--duration-default, 0.3s) linear;
  display: inline-block;
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  border-radius: 2px; 
}

#cards .swiper-pagination-bullet-active {
  width: 30px;   
  height: 5px;   
  border-radius: 2px;
}

/* 
=== Home page Top Picks
*/
#top-picks .banner{
  position: relative;
  width:100%;
  padding: 50px 20px;
}
#countdown .time-box{
  position: relative;
  padding:0px 30px;
}
#countdown .time-box::after{
  content: '';
  height:100%;
  width:1px;
  background-color: var(--dark-color);
  position:absolute;
  right:0;
  top:0;
}
#countdown .time-box:last-child::after {
  display: none;
}
#countdown p {
  display: block;
  font-size: 50px;
  font-weight: bold;
  color: #333;
}

#countdown small {
  font-size: 16px;
  color: var(--dark-color);
}

/* 
==== Home page Top Picks right
*/
.grouped-card{
  padding: 35px 0px;
}
.product-card {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  padding: 10px 0px;
}

.product-img {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  border: 1px dashed var(--dark-color);
}
.product-card:hover .product-img{
  border: 1px dashed var(--main-color);
}

.product-img img {
  width: 100%;
  display: block;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.product-img .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.product-card:hover .main-img {
  opacity: 0;
  transform: scale(1.05);
}

.product-card:hover .hover-img {
  opacity: 1;
  transform: scale(1.05);
}

.product-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.product-card:hover .product-overlay {
  opacity: 1;
  transform: translateY(0);
}

.icon-btn {
  background: var(--main-color);
  color:var(--light-color);
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  cursor: pointer;
  transition: all 0.3s;
}
.icon-btn:hover {
  background: var(--dark-color);
}

.product-info .product-name {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  color:var(--dark-color);
}
.product-info .product-name:hover{
  color:var(--main-color);
}
.product-info .product-price {
  font-size: 0.9rem;
  color: #555;
}

.product-colors {
  margin-top: 8px;
}
.product-colors .color{
  display: inline-block;
}

.color-swatch {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 3px;
  cursor: pointer;
  border:1px solid var(--main-color);
  padding:10px;
}

/* Home page Latest News Section */

#news .text-truncate-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#news .news-card{
  text-decoration: none;
}
#news .card-img {
  overflow: hidden; 
  border-radius: 8px; 
}
#news .card-body h5{
  color:var(--dark-color);
  transition: all 0.3s ease;
}
#news .card-body h5:hover{
  color:var(--main-color);
  transition: all 0.3s ease;
}
#news .card-body p{
  color:var(--dark-color);
}
#news .card-img-top {
  transition: transform 0.4s ease;
  border-radius: 8px; 
}

#news .card-img:hover .card-img-top {
  transform: scale(1.1);
}

/*Home page Brands */

.brands-swiper .slide-item{
  border: 1px dashed var(--dark-color);
  border-radius: 10px;
  padding:10px 20px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brands-swiper .slide-item:hover{
  border: 1px dashed var(--main-color);
  transition: all 0.3s ease;
}
.brands-swiper .slide-item img{
  width: 346px;
  height:100px;
}
/* 
===== Footer =====
*/
.footer-top h5, .footer-top h6 {
  color: var(--dark-color);
}
.footer-top .newsletter form{
  border: 1px dashed var(--dark-color);
  border-radius: 15px;
  padding:10px;
  transition: all 0.3s ease;
}
.footer-top .newsletter form:hover{
  border: 1px dashed var(--main-color);
  transition: all 0.3s ease;
}
.footer-top .newsletter form input{
  border:none;
  outline: 0;
  background-color: transparent;
}
.footer-top .newsletter form input:focus,
.footer-top .newsletter form input:hover {
  outline: 0 !important;
  border: 0 !important;
  box-shadow: none !important; /* remove Bootstrap glow */
}

.footer-top a:hover {
  color: #0d6efd;
}
.footer-top .location-icon{
  width:35px;
}
/* Footer bottom */
.footer-bottom .list-inline-item svg {
  height: 28px;
  width: auto;
}
.footer-bottom .list-inline-item {
  margin-right: 8px;
}
.footer-bottom .copyright a{
  color:var(--dark-color);
  transition: all 0.3s ease;
}
.footer-bottom .copyright a:hover{
  color:var(--main-color);
  transition: all 0.3s ease;
}

/* 
======
Contact page
======
 */
 .page-banner .banner-content{
  position: relative;
  height: 100%;
  padding: 100px 0px;
}

 .page-banner .banner-content nav a{
  color:var(--dark-color);
  transition: color 0.3s ease;
 }
  .page-banner .banner-content nav a:hover{
  color:var(--main-color);
  transition: color 0.3s ease;
 }
/* 
==== Contact =====
*/
 /* Map */
 .map-wrap {
    width: 100%;
    max-width: 1000px;
    aspect-ratio: 16/9; 
    margin: 1rem auto;
    border-radius: 12px;
    overflow: hidden;
  }

  .map-wrap iframe {
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
  }

.contact-form .input-field{
  width:100%;
  border: 1px dashed var(--dark-color);
  padding: 12px 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.contact-form .input-field:focus{
  border: 1px dashed var(--main-color);
  outline: 0;
}

/* 
=== Blog page (Blogs > Sidebar) ===
*/
.blog-search form{
  border: 1px dashed var(--dark-color);
  padding:8px 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.blog-search form:hover{
  border: 1px dashed var(--main-color);
  transition: all 0.3s ease;
}
.blog-search form input{
  background-color: transparent;
  border:none;
  outline: none;
}
.blog-search form input:focus,
.blog-search form input:hover{
  background-color: transparent;
  outline: 0 !important;
  border: 0 !important;
  box-shadow: none !important; /* remove Bootstrap glow */
}
.blog-search form button{
  color:var(--dark-color);
  border:0;
  background-color: transparent;
  transition: all 0.3s ease;
}
.blog-search form button:hover{
  color:var(--main-color);
  transition: all 0.3s ease;
}

.recent-post .post-card{
  display: flex;
  align-items: center;
  width: 100%;
}
.recent-post .post-card .img{
  width:40%;
}
.recent-post .post-card .content{
  width:60%;
  padding-left: 10px;
}
.recent-post .post-card .content p{
 text-decoration: none; 
 margin-bottom: 7px;
}
.recent-post .post-card .content h5{
 text-decoration: none; 
 color:var(--dark-color);
 transition: all 0.3s ease;
 font-size: 20px;
}
.recent-post .post-card .content h5:hover{
 transition: all 0.3s ease;
 color:var(--main-color)
}

#blogs .sidebar .accordion {
  background-color: transparent !important;
  border: 0 !important;
}

#blogs .sidebar .accordion-item {
  border: none !important;
  background: transparent !important;
}

#blogs .sidebar .accordion-button {
  background: transparent !important;
  box-shadow: none !important;
}

#blogs .sidebar .accordion-button:focus {
  box-shadow: none !important;
}

#blogs .sidebar .tags, .offcanvas .tags{
  display: flex;
  justify-content: start;
  align-items: center;
  margin:0;
  padding:0!important;
}
#blogs .sidebar .tags li, .offcanvas .tags li{
  list-style: none;
  border: 1px dashed var(--dark-color);
  border-radius: 10px;
  padding:10px 20px;
  transition: all 0.3s ease;
  color:var(--dark-color);
  margin-right: 10px;
  cursor:pointer;
}
#blogs .sidebar .tags li:hover, .offcanvas .tags li:hover{
  border:1px solid var(--dark-color);
  background-color: var(--dark-color);
  transition: all 0.3s ease;
  color:var(--light-color);
}

/* 
=== Shop page (Blogs > Sidebar) === 
*/

.accordion {
  background-color: transparent !important;
  border: 0 !important;
}

#shop .accordion-item, .offcanvas .accordion-item {
  border: none !important;
  background: transparent !important;
}

.accordion-button {
  background: transparent !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.color-swatch {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ddd;
  transition: transform 0.2s ease, border 0.2s ease;
}
.color-swatch:hover {
  transform: scale(1.1);
  border-color: #333;
}

/* Shop page */
.accordion-item button{
  color:var(--dark-color);
  transition: all 0.3s ease;
}
.accordion-item button:hover{
  color:var(--main-color);
  transition: all 0.3s ease;
}
.accordion-body .form-check, #shop .accordion-body .form-check .badge{
  color:var(--dark-color);
  transition: all 0.3s ease;
}
.accordion-body .form-check:hover label,
.accordion-body .form-check:hover .badge {
  color: var(--main-color);
  transition: all 0.3s ease;
  cursor: pointer;
}
.accordion-body .form-check-input{
  color:var(--dark-color);
  border-color:var(--dark-color);
  transition: all 0.3s ease;
}
.accordion-body .form-check-input:checked{
  color:var(--dark-color);
  background-color: transparent;
  border-color:var(--dark-color);
  box-shadow: none;
  outline:0;
  transition: all 0.3s ease;
}
.accordion-body .form-check-input:checked[type=checkbox]{
  color:var(--main-color);
  background-color: var(--main-color);
}

/* Single product page */
#singleProduct .single-product-img{
  height:550px;
  position: sticky;
  top: 100px;   
  z-index: 10;
}
#singleProduct .productThumbs{
  max-height: 500px;   
  overflow-y: auto;
}
#singleProduct .thumb-img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: border 0.3s ease;
  border-radius: 15px;
}
#singleProduct .swiper-slide{
  padding:20px;
}

.thumb-img.active-thumb {
  border: 1px dashed var(--dark-color);
}

.main-image-wrapper {
  overflow: hidden;
  position: relative;
  height: 550px;
  border-radius: 15px;
}
#singleProduct .zoomable {
  height: 550px;      
  width: 100%;
  object-fit: contain; 
  transition: transform 1s ease;
  cursor: zoom-in;
  border-radius: 15px;
}
#singleProduct .zoomable:hover {
  transform: scale(1.8);
  cursor: zoom-out;
  transition: transform 1s ease;
}

.productThumbs .swiper-button-next,
.productThumbs .swiper-button-prev {
  color: var(--light-color);   /* your theme color */
  background-color:var(--main-color);           /* white circle background */
  border-radius: 50%;
  width: 35px;
  height: 35px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
}
.productThumbs .swiper-button-next:hover,
.productThumbs .swiper-button-prev:hover{
  background-color: var(--dark-color);
  transition: all 0.3s ease;
}

.productThumbs .swiper-button-next:after,
.productThumbs .swiper-button-prev:after {
  font-size: 16px;            
  font-weight: bold;
}
.product-details .weight-tags{
  display: flex;
  justify-content: start;
  align-items: center;
}
.product-details .weight-tags p{
  list-style: none;
  background-color: transparent;
  border:1px dashed var(--dark-color);
  padding: 10px 15px;
  border-radius: 10px;
  color:var(--dark-color);
  transition: all 0.3s ease;
  margin-right: 10px;
  cursor: pointer;
}
.product-details .weight-tags p:hover{
  border:1px solid var(--dark-color);
  background-color: var(--dark-color);
  color: var(--light-color);
  transition: all 0.3s ease;
}
.product-details .weight-tags .active{
  border:1px solid var(--dark-color);
  background-color: var(--dark-color);
  color: var(--light-color);
  transition: all 0.3s ease;
}

.product-options .quantity .minus-btn{
  padding: 10px 20px;
  background-color: transparent;
  border:1px dashed var(--dark-color);
  color:var(--dark-color);
  font-weight: bold;
  border-radius: 10px 0px 0px 10px;
  transition:all 0.3s ease;
}
.product-options .quantity .plus-btn{
  padding: 10px 20px;
  background-color: transparent;
  border:1px dashed var(--dark-color);
  color:var(--dark-color);
  font-weight: bold;
  border-radius: 0px 10px 10px 0px;
  transition:all 0.3s ease;
}
.product-options .quantity .minus-btn:hover,
.product-options .quantity .plus-btn:hover{
  background-color: var(--dark-color);
  color:var(--light-color);
  transition: all 0.3s ease;
}
.product-options .quantity input{
  padding: 10px 30px;
  background-color: transparent;
  border-top:1px dashed var(--dark-color);
  border-bottom:1px dashed var(--dark-color);
  border-right:0;
  border-left:0;
  color:var(--dark-color);
  font-weight: bold;
  width:100px;
}
.product-options .quantity input:focus{
  outline: 0;
}
.wishlist-btn, .compare-btn {
  background: transparent;
  color:var(--dark-color);
  border:1px dashed var(--dark-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  cursor: pointer;
  transition: all 0.3s;
}
.wishlist-btn:hover, .compare-btn:hover {
  background: var(--dark-color);
  color:var(--light-color);
  border:1px solid var(--dark-color);
  transition: all 0.3s ease;
}
.buy-it-now button{
  background-color: var(--dark-color);
  color:var(--light-color);
  border-radius: 10px;
  padding:10px 0px;
  width: 100%;
  transition: all 0.3s ease;
  border:0;
}
.buy-it-now button:hover{
  background-color: var(--main-color);
  transition: all 0.3s ease;
}
.share-btn button{
  color: var(--dark-color);
  transition: all 0.3s ease;
  background-color: transparent;
  border:0;
}
.share-btn button:hover{
  color: var(--main-color);
  transition: all 0.3s ease;
}

.payment-method{
  position: relative;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-bottom: 1px dashed var(--dark-color);
  padding: 0 0 40px;
}
.payment-method p{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  top: -14px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: max-content;
  padding: 0 15px;
  background-color: white;
}
.payment-method img{
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
  border: 1px dashed var(--dark-color);
  padding: 40px 20px 30px;
  position: relative;
  border-radius: 20px;
}
.single-product-accordion .accordion-item{
  margin-bottom:20px;
  padding:10px 20px;
  border:1.5px dashed var(--dark-color);
  border-radius: 50px;
}
.single-product-accordion .accordion-item button{
  font-size:22px;
}

/* Single News // Blog page */
.news-body .tags{
  display: flex;
  list-style: none;
}
.news-body .tags li{
  list-style: none;
  padding:10px 20px;
  border:1px dashed var(--dark-color);
  border-radius: 10px;
  margin-right:10px;
  transition: all 0.3s ease;
  color:var(--dark-color);
  background-color: transparent;
}
.news-body .tags li:hover{
  border:1px solid var(--dark-color);
  transition: all 0.3s ease;
  color:var(--light-color);
  background-color: var(--dark-color);
}
.news-body .social-btn{
  color:var(--dark-color);
  transition: all 0.3s ease;
}
.news-body .social-btn:hover{
  color:var(--main-color);
  transition: all 0.3s ease;
}
.post-navigation .prev-post, .post-navigation .next-post{
  padding:10px;
  border:1px dashed var(--dark-color);
  color:var(--dark-color);
  border-radius: 20px;
}
.post-navigation .prev-post a, .post-navigation .next-post a{
  text-decoration: none;
  color: var(--dark-color);
}
.post-navigation .prev-post a:hover, .post-navigation .next-post a:hover{
  
  color:var(--main-color);
}

/* Filter button  */
.filter svg{
  font-size:20px;
}

/* About page // Fabrics Slider  */
#fabrics .row{
  padding:60px 80px;
  background-color: var(--light-color);
  border-radius: 20px;
}
.fabrics-swiper img{
  width:50px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-right: 15px;
}

/* About page // Our team Slider  */
  .team-card {
    transition: transform 0.3s ease;
  }
  .team-img-wrapper {
    position: relative;
    overflow: hidden;
  }
  .team-img {
    transition: transform 0.4s ease;
  }
  .team-img-wrapper:hover .team-img {
    transform: scale(1.1);
  }
  .team-overlay {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.4s ease;
    display: flex;
    align-items: flex-end; 
    justify-content: center;
  }
  .team-img-wrapper:hover .team-overlay {
    opacity: 1;
  }
  .team-social {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    position: absolute;
    bottom: 40px; 
    left: 0;
  }
  .team-social a {
    color: var(--dark-color);
    font-size: 20px;
    transition: color 0.3s ease;
  }
  .team-social a:hover {
    color: var(--main-color); /* your theme color */
  }
  .team-card:hover .team-overlay {
    opacity: 1;
  }

  /* About page // Subscribe */

  #stay-ahead form{
    border: 1px dashed var(--dark-color);
    border-radius: 50px;
    padding:8px;
    transition: all 0.3s ease;
  }
  
  #stay-ahead form button{
    background-color: var(--main-color);
    padding: 15px 30px;
    border-radius: 50px;
    color:var(--light-color);
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline;
    border:none;
  }
  #stay-ahead form button:hover{
    background-color: var(--dark-color);
    transition: all 0.3s ease;
    text-decoration: none;
  }
  #stay-ahead form:hover{
    border: 1px dashed var(--main-color);
    transition: all 0.3s ease;
  }
  #stay-ahead form input{
    border:none;
    outline: 0;
    background-color: transparent;
  }
  #stay-ahead form input:focus,
  #stay-ahead form input:hover {
    outline: 0 !important;
    border: 0 !important;
    box-shadow: none !important; /* remove Bootstrap glow */
  }

  /* About page // Subscribe */
  #social-cards .social-card {
    transition: transform 0.3s ease;
  }
  .social-img-wrapper {
    position: relative;
    overflow: hidden;
  }
  .social-img {
    transition: transform 0.4s ease;
  }
  .social-img-wrapper:hover .social-img {
    transform: scale(1.1);
  }
  .social-overlay {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background: rgba(235, 78, 78, 0.7);
    opacity: 0;
    transition: opacity 0.4s ease;
    display: flex;
    align-items: center; 
    justify-content: center;
  }
  .social-img-wrapper:hover .social-overlay {
    opacity: 1;
  }
  .social-logo svg{
    color:var(--light-color);
    width: 35px;
    height: 35px;
    display: flex;
    transition: all 0.3s ease;
  }
  .social-logo svg:hover {
    color: var(--dark-color); /* your theme color */
    transition: all 0.3s ease;
  }
  .social-card:hover .social-overlay {
    opacity: 1;
  }















